<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="fragment-header">
        <title>블로그</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    </head>

    <div th:fragment="fragment-nav">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="/">sweets1327</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <!--   로그인 유저 페이지 -->
                <div sec:authorize="isAuthenticated()">
                    <!--    관리자 페이지        -->
                    <div sec:authorize="hasRole('ADMIN')">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/admin">어드민페이지</a></li>
                            <li class="nav-item"><a class="nav-link" href="/user/updateForm">회원정보</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    카테고리
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/">전체 글 보기</a>
                                    <a class="dropdown-item" href="/daily">일상</a>
                                    <a class="dropdown-item" href="/date">데이트</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/board/saveForm">글쓰기</a></li>
                            <li class="nav-item"><a class="nav-link" href="/user/myBoard">작성글</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                        </ul>
                    </div>

                    <!--    일반 유저 페이지        -->
                    <div sec:authorize="hasRole('USER')">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/user/updateForm">회원정보</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    카테고리
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/">전체 글 보기</a>
                                    <a class="dropdown-item" href="/daily">일상</a>
                                    <a class="dropdown-item" href="/date">데이트</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/auth/board">글쓰기</a></li>
                            <li class="nav-item"><a class="nav-link" href="/user/myBoard">작성글</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                        </ul>
                    </div>
                </div>

                <!--  비 로그인 페이지  -->
                <div sec:authorize="isAnonymous()">
                    <div>
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="/auth/loginForm">로그인</a></li>
                            <li class="nav-item"><a class="nav-link" href="/auth/joinForm">회원가입</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <br/>
    </div>

    <footer th:fragment="fragment-footer">
        <br>
        <div class="jumbotron text-center" style="margin-top:0">
            <p>Created by sweets1327</p>
            <a href="https://sweets1327.tistory.com/" target="_blank" style="text-decoration:none; color: black">🔗 Blog</a><br>
            <a href="https://github.com/katydidya92" target="_blank" style="text-decoration:none; color: black">🔗 Github</a>
        </div>
    </footer>
</html>