<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/layout/layout.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/layout.html :: fragment-nav"></div>

<div class="container">
    <form action="/auth/loginProc" method="post">
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" name="username" class="form-control" placeholder="Enter username" id="username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter password" id="password">
        </div>

        <!--        remember me-->
        <!--        <div class="form-group form-check">-->
        <!--            <label class="form-check-label">-->
        <!--                <input type="checkbox" name="remember" class="form-check-input"> Remember me-->
        <!--            </label>-->
        <!--        </div>-->

        <button id="btn-login" class="btn btn-primary">로그인</button>
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=e7baacafa2601edbf4143dac8726ba51&redirect_uri=http://localhost:8080/auth/kakao/callback&response_type=code"><img
                src="/image/kakao_login.png"></a>
    </form>
    <!--    <script src="/js/user.js"></script>-->
</div>
<footer th:replace="/layout/layout.html :: fragment-footer"></footer>
</body>
</html>